$Gray: #2b2d42;
$Blue: #8d99ae;
$White: #edf2f4;
$Red: #ef233c;
$ARed: #d90429;
$Black: #231b1b;

html,
body {
  padding: 0;
  margin: 0;
}

body {
  cursor: url(../images/cursor.png), default;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background: $Red;
  border-radius: 5px 5px 5px 5px;
  border: solid 0.1rem $Red;
}

::-webkit-scrollbar-thumb {
  background-color: $White;
  border-radius: 5rem;
  border: solid 0.1rem $Black;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
