$Gray: #2b2d42;
$Blue: #8d99ae;
$White: #edf2f4;
$Red: #ef233c;
$ARed: #d90429;
$Black: #231b1b;
$Pink: #ffffffff;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@300&family=Oswald:wght@300&family=Roboto:wght@300&display=swap");

.fonts {
  font-family: "Noto Sans Mono", monospace;
  font-family: "Oswald", sans-serif;
  font-family: "Roboto", sans-serif;
}

.main {
  align-items: center;
  display: flex;
  width: 40%;
  background-color: $Pink;
  border-radius: 10px 10px 10px 10px;
  border: solid 0.2rem $Black;
  justify-content: center;
  flex-direction: column;
}

.title {
  font-family: "Noto Sans Mono", monospace;
  font-size: 3vh;
  font-weight: bold;
  color: $Black;
  margin-bottom: 3%;
  margin-top: 3%;
}

.divCenter {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.eachTask {
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 10px 10px 10px 10px;
  border: solid 0.2rem $Black;
  justify-content: center;
  margin-top: 1%;
  margin-bottom: 1%;
  width: 90%;
  background-color: $White;
}

.divTask {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.text {
  color: $Black;
  margin-top: 1%;
  margin-bottom: 1%;
  font-family: "Roboto", sans-serif;
  font-size: 2.5vh;
  font-weight: bold;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  border: solid 0.2rem $Black;
  background-color: $ARed;
  border-radius: 10px 10px 10px 10px;
  margin-top: 4%;
  margin-bottom: 4%;
  &:hover {
    transition-duration: 1s;
    cursor: url(../images/pointer.png), default;
    box-shadow: 10px 10px $Black;
  }
}

.buttonDelete {
  width: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: solid 0.2rem $Black;
  background-color: $ARed;
  border-radius: 10px 10px 10px 10px;
  margin-top: 1%;
  margin-right: 2%;
  &:hover {
    transition-duration: 1s;
    cursor: url(../images/pointer.png), default;
    box-shadow: 10px 10px $Black;
  }
}

.icon {
  color: $Pink;
  width: 3rem;
  height: 3rem;
}

.iconDelete {
  color: $Pink;
  width: 2rem;
  height: 2rem;
}

.divDelete {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: flex-end;
}

.none {
  display: none;
}

@media (max-width: 600px) {
  .main {
    width: 90%;
    margin-bottom: 5%;
  }

  .eachTask {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 90%;
  }
  .buttonDelete {
  width: 20%;
  }
  .button {
  width: 50%;
  }
}
